<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="InputFilePath" value="C:\\repos\\BiotopeSimulation\\BiotopeSimulation\\SampleInputs\\sampleInput1.txt"/>
		<add key="InputFilePath2" value="C:\\repos\\BiotopeSimulation\\BiotopeSimulation\\SampleInputs\\sampleInput2.txt"/>
		<add key="InputFilePath3" value="C:\\repos\\BiotopeSimulation\\BiotopeSimulation\\SampleInputs\\sampleInput3.txt"/>
	</appSettings>
</configuration>